<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.howiepowie.cordova.filePlugin"
      version="0.1.0">
    <name>FilePlugin</name>
    <description>Sample PhoneGap File Plugin</description>
    <license>MIT</license>
    <keywords>file</keywords>
 
 
    <js-module src="www/FilePlugin.js" name="FilePlugin">
        <clobbers target="window.FilePlugin" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FilePlugin">
                <param name="android-package" value="com.howiepowie.cordova.filePlugin.FilePlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/FilePlugin.java" target-dir="src/com/howiepowie/cordova/filePlugin" />     
     </platform>         
     
     <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FilePlugin">
                <param name="ios-package" value="FilePlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/FilePlugin.h" />
        <source-file src="src/ios/FilePlugin.m" />
        <header-file src="src/ios/TTOpenInAppActivity/TTOpenInAppActivity.h" />
        <source-file src="src/ios/TTOpenInAppActivity/TTOpenInAppActivity.m" />
        <resource-file src="src/ios/TTOpenInAppActivity/TTOpenInAppActivity.png" />
        <resource-file src="src/ios/TTOpenInAppActivity/TTOpenInAppActivity@2x.png" />
        <resource-file src="src/ios/TTOpenInAppActivity/TTOpenInAppActivity7.png" />
        <resource-file src="src/ios/TTOpenInAppActivity/TTOpenInAppActivity7@2x.png" />
    </platform>

</plugin>
