<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.cgi.mobility.filePlugin"
      version="0.1.0">
    <name>FileWriterFromBase64</name>
    <description>Sample PhoneGap FileWriterFromBase64 Plugin</description>
    <license>MIT</license>
    <keywords>file</keywords>
 
 
    <js-module src="www/FileWriterFromBase64.js" name="FileWriterFromBase64">
        <clobbers target="window.FileWriterFromBase64" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileWriterFromBase64">
                <param name="android-package" value="com.cgi.mobility.filePlugin.FileWriterFromBase64"/>
            </feature>
        </config-file>
 
        <source-file src="src/FileWriterFromBase64.java" target-dir="src/cgi/mobility/filePlugin/FileWriterFromBase64" />     
     </platform>         
</plugin>